.pfext-quick-start-panel-content {
  &__header {
    position: sticky;
    top: 0px;
    background: inherit;
    z-index: var(--pf-global--ZIndex--xs);
    &__shadow {
      box-shadow: var(--pf-global--BoxShadow--sm-bottom);
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    ul, ol {
      padding-left: 20px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__duration {
    display: inline-block;
    font-size: 65%;
    font-weight: 400;
    line-height: 1;
    color: #9c9c9c;
  }
  &__footer {
    &__shadow {
      box-shadow: var(--pf-global--BoxShadow--sm-top);
    }
  }
}
