.pfext-quick-start-panel-content {
  &__header {
    position: sticky;
    top: 0px;
    background: inherit;
    z-index: var(--pf-t--global--z-index--xs);
    &__shadow {
      box-shadow: var(--pf-t--global--box-shadow--sm--bottom);
    }
    &--blue-white {
      background-color: var(--pf-t--global--color--brand--default);
      .pfext-quick-start-panel-content__title {
        color: var(--pf-t--global--text--color--on-brand--default);
      }
      .pfext-quick-start-panel-content__duration {
        color: var(--pf-t--global--text--color--on-brand--default);
      }
      .pfext-quick-start-panel-content__close-button {
        button {
          color: var(--pf-t--global--text--color--on-brand--default) !important;
        }
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__duration {
    display: inline-block;
    font-size: var(--pf-t--global--font--size--body--default);
    font-weight: var(--pf-t--global--font--weight--body);
    line-height: 1;
    color: var(--pf-t--global--text--color--subtle);
  }
  &__footer {
    &__shadow {
      box-shadow: var(--pf-t--global--box-shadow--sm--top);
    }
  }
}
