// // Base element styles.
// // Please DO NOT add rules of this type.
// .pfext-quick-start-panel-content__body {
//   dl {
//     margin: 0px; }

//   // match pf4 styling / table col head styling
//   dt {
//     font-weight: var(--pf-t--global--font--weight--body--bold); }

//   dd {
//     margin-bottom: 20px; }

//   dd:last-child {
//     margin-bottom: 0px; }

//   input[type="number"] {
//     -webkit-appearance: textfield;
//     appearance: textfield;
//     max-width: 100px;
//     &::-webkit-inner-spin-button,
//     &::-webkit-outer-spin-button {
//       -webkit-appearance: none;
//     }
//   }

//   input[type="radio"] {
//     margin-right: 7px;
//   }

//   .pf-v6-c-list {
//     --pf-v6-c-list--PaddingLeft: 20px;
//   }
// }

// // drawer
// .pfext-quick-start-panel-content__header,
// .pfext-quick-start-panel-content__body,
// // catalog gallery wrapper
// .pfext-page-layout__content,
// // catalog item prereq popover
// .pfext-popover__base {
//   ul {
//       list-style-type: disc;
//   }

//   input[type='radio'],
//   input[type='checkbox'] {
//     margin-top: 1px !important;
//   }
// }

.pfext-quick-start-panel {
  --pf-v6-c-drawer__panel--PaddingBlockStart: 0;
}

.pfext-popover__base {
  ul {
      list-style-type: var(--pf-t--global--list-style);
  }
}