// Base element styles.
// Please DO NOT add rules of this type.
.pfext-quick-start-panel-content {
  dl {
    margin: 0px; }

  // match pf4 styling / table col head styling
  dt {
    font-weight: var(--pf-global--FontWeight--bold); }

  dd {
    margin-bottom: 20px; }

  dd:last-child {
    margin-bottom: 0px; }

  input[type="number"] {
    -webkit-appearance: textfield;
    appearance: textfield;
    max-width: 100px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  input[type="radio"] {
    margin-right: 7px;
  }
}

// drawer
.pfext-quick-start-panel-content,
// catalog gallery wrapper
.pfext-page-layout__content,
// catalog item prereq popover
.pfext-page-layout__base {
  --pf-global--FontSize--md: 14px;
  --pf-global--FontSize--sm: 13px;

  ul {
      list-style-type: disc;
  }

  input[type='radio'],
  input[type='checkbox'] {
    margin-top: 1px !important;
  }
}
