// pulls in the patternfly drawer styles, in case the consumer does not have them
// which can happen when they're not using PatternFly, or a different (older) version
// some global styles that quickstarts uses (Drawer, Popover, Modal, Backdrop, Bullseye)

// TODO: Investigate if we can remove and/or nest these within patternfly-nested.css
// what do we really need to expose globally?
// here are the classes that exist outside the scope of .pfext-quick-start__base:
// class="pf-v6-c-popover pfext-quick-start__base pf-m-right"
// class="pf-v6-c-modal-box pfext-modal pfext-quick-start-drawer__modal pfext-quick-start__base pf-m-sm"
// class="pf-v6-c-backdrop__open"
// class="pf-v6-c-backdrop"
// class="pf-v6-l-bullseye"
// class="pf-v6-c-tooltip pf-m-top pfext-quick-start__base"

@import '@patternfly/patternfly/sass-utilities/all';
// gets added globally to :root
@import '@patternfly/patternfly/base/variables';

@import '@patternfly/patternfly/components/Drawer/drawer.scss';
@import '@patternfly/patternfly/components/Popover/popover.scss';

// for the 'Leave quick start?` modal
@import '@patternfly/patternfly/components/ModalBox/modal-box.scss';
@import '@patternfly/patternfly/components/Backdrop/backdrop.scss';
@import '@patternfly/patternfly/layouts/Bullseye/bullseye.scss';

// for the markdown extension that lets users copy text to clipboard
@import '@patternfly/patternfly/components/Tooltip/tooltip.scss';
