// pulls in the patternfly styles, in case the consumer does not have them
// which can happen when they're not using PatternFly, or a different (older) version
// that could be incompatible with the version of PatternFly that we're using

@import '@patternfly/patternfly/sass-utilities/all';

.pfext-quick-start__base {
  // similar to PatternFly reset, but with a few additions and for every element
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    min-width: auto;
    height: auto;
  }
  .pf-screen-reader {
    @include pf-u-screen-reader;
  }
  @import '@patternfly/patternfly/utilities/Accessibility/accessibility.scss';

  // it's okay that we include everything since we'll purge the unused styles
  @import '@patternfly/patternfly/components/all';
  @import '@patternfly/patternfly/layouts/all';

  // some apps globally set text-align: center
  text-align: left;
}

// this style uses ampersand which would not nest correctly
// https://github.com/patternfly/patternfly/blob/main/src/patternfly/components/Select/select.scss#L365
.pfext-quick-start__base * + .pf-c-select__toggle-arrow {
  margin-right: var(--pf-c-select__toggle-arrow--MarginRight);
  margin-left: var(--pf-c-select__toggle-arrow--MarginLeft);
}
.pfext-quick-start__base .pf-c-select.pf-m-top.pf-m-expanded .pf-c-select__toggle-arrow {
  transform: rotate(var(--pf-c-select__toggle-arrow--m-top--m-expanded__toggle-arrow--Rotate));
}