@import '@patternfly/patternfly/sass-utilities/all';
@import './legacy-bootstrap/variables';

// @import './base';
// @import './dark-custom-override';

// // React Components
// @import '../ConsoleInternal/**/*.scss';
// @import '../ConsoleShared/**/*.scss';

// legacy bootstrap typography styles for markdown content
@import './legacy-bootstrap.scss';
