.pfext-markdown-view {
  .pfext-code-block__pre {
    /* override the styles applied by showdown while parsing <pre /> */
    display: flex;
    border: none;
    border-radius: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  
  .pfext-markdown-execute-snippet {
  
    &__button {
      & > i.fa-check {
        display: none;
      }
  
      & > i.fa-play {
        display: inline;
      }
  
      &[data-executed] {
        & > i.fa-check {
          display: inline;
        }
  
        & > i.fa-play {
          display: none;
        }
      }
    }
  }

  .pfext-markdown-admonition {
    &.pf-c-alert {
      // add margins to match design
      margin: var(--pf-global--spacer--md) 0;
      .pf-c-alert__title {
        // remove margins from markdown css
        margin-top: 0;
        margin-bottom: 0;
        // lift PF style specificity to override markdown css
        font-weight: var(--pf-c-alert__title--FontWeight);
        font-family: inherit;
        line-height: inherit;
        color: var(--pf-c-alert__title--Color);
        word-break: break-word;
      }
    }
  }
}
