.pfext-quick-start-catalog-filter {
  &__input {
    flex-grow: 1;
    max-width: 500px;
  }

  &__count {
    font-weight: var(--pf-v6--global--FontWeight--bold);
  }
}

.pf-v6-c-toolbar.pf-m-page-insets.pfext-quick-start-catalog-filter__flex {
  --pf-v6-c-toolbar--PaddingBottom: var(--pf-t--global--spacer--sm);
  --pf-v6-c-toolbar--PaddingTop: var(--pf-t--global--spacer--sm);
  --pf-v6-c-toolbar--RowGap: 0;
  font-size: 14px;

  .pf-v6-c-select {
    --pf-v6-c-select__toggle--FontSize: 14px;
  }

  .pf-v6-c-check {
    --pf-v6-c-check__label--FontSize: 14px;
  }
}