.pfext-page-layout {
  &__content {
    padding: var(--pf-global--spacer--lg);
    flex: 1;

    &.is-dark {
      background: var(--pf-global--palette--black-150);
    }
  }

  &__header {
    background-color: var(--pf-global--BackgroundColor--light-100);
  }

  &__hint {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
    padding-bottom: var(--pf-global--spacer--md);
    font-size: 14px;
  }

  &__title {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
    font-size: var(--pf-global--FontSize--2xl);
    margin-top: 23px;
    margin-bottom: 11.5px;
    font-family: var(--pf-global--FontFamily--heading--sans-serif);
    font-weight: var(--pf-global--FontWeight--normal);
    line-height: 1.1;
  }
}
