.pf-v6-theme-dark .pfext-catalog-item-icon__img {
  filter: brightness(1.5) invert(1) hue-rotate(180deg) saturate(4);
}

// some icons provided to catalog tiles might have no defined height/width. Without this style, in those cases
// the icons would have a height and width of 0.
.pfext-catalog-item .pf-v6-c-card__header-main .pf-v6-c-icon__content {
  display: contents;
}

.pfext-catalog-item.pf-v6-c-card.pf-m-selectable::before, .pfext-catalog-item.pf-v6-c-card.pf-m-clickable::before {
  border: var(--pf-v6-c-card--BorderColor) var(--pf-v6-c-card--BorderStyle) var(--pf-v6-c-card--BorderWidth);
}
