.pfext-quick-start-tile-header {
  &__status {
    margin: var(--pf-t--global--spacer--sm) 0;
    font-family: var(--pf-t--global--font--family--body);
    font-size: var(--pf-t--global--font--size--body--default);
    font-weight: var(--pf-t--global--font--weight--body);
    line-height: var(--pf-t--global--font--line-height--body);
  }
  &--margin {
    margin-right: var(--pf-t--global--spacer--sm);
    margin-bottom: var(--pf-t--global--spacer--sm);
  }
  & .pf-v6-c-badge:not(:last-of-type) {
    margin-right: var(--pf-t--global--spacer--sm);
  }

  h3 {
    flex: 1;
  }
}
