.pfext-quick-start-tile-header {
  &__status {
    margin: var(--pf-v5-global--spacer--sm) 0;
  }
  &--margin {
    margin-right: var(--pf-v5-global--spacer--sm);
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }
  & .pf-v5-c-badge:not(:last-of-type) {
    margin-right: var(--pf-v5-global--spacer--sm);
  }

  .pfext-quick-start-title-header__display-name {
    display: flex;
    justify-content: center;
  }
}
