.pfext-quick-start-tile {
  &-description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    p {
      margin: 0 0 11.5px;
    }
  }

  &-prerequisites {
    display: inline-flex;
    &__text {
      margin-right: var(--pf-t--global--spacer--sm);
      margin-top: 11.5px;
      margin-bottom: 11.5px;
    }

    &-list {
      padding-left: 20px;
    }
  }
}
