.pfext-quick-start-tile-header {
  &__status {
    margin: var(--pf-t--global--spacer--sm) 0;
  }
  &--margin {
    margin-right: var(--pf-t--global--spacer--sm);
    margin-bottom: var(--pf-t--global--spacer--sm);
  }
  & .pf-v6-c-badge:not(:last-of-type) {
    margin-right: var(--pf-t--global--spacer--sm);
  }
}
