.pfext-status-box {
  padding: 40px 20px;

  &__loading-message {
    margin-top: var(--pf-t--global--spacer--sm);
  }
}

.pfext-status-box--loading {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  flex-direction: column;
}

.pfext-m-loader {
  min-width: 18px;
}

.pfext-m-loader-dot__one,
.pfext-m-loader-dot__two,
.pfext-m-loader-dot__three {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: bouncedelay;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background: #419eda;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px;
}

.pfext-m-loader-dot__one {
  animation-delay: -0.32s;
}

.pfext-m-loader-dot__two {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.25, 0.25);
  }
  40% {
    transform: scale(1, 1);
  }
}
