.pfext-quick-start__base {
  .task-pflist {
    &-title {
      font-size: 14px !important;
      margin-bottom: 6px;
    }
    &-subtitle {
      color: var(--pf-v5-global--Color--200);
      font-size: 16px;
    }
    &-list {
      font-size: 16px;
      li + li {
        margin-top: 4px;
      }
      &--prereq {
        padding-left: var(--pf-v5-global--spacer--lg);
      }
      &--proc {
        padding-left: 10px;
      }
      &__item {
        &--prereq {
          &::marker {
            font-size: 0.8rem;
          }
          .task-pflist-list__item__content {
            position: relative;
            left: 2px;
          }
        }
        &--proc {
          font-size: 14px;
          .task-pflist-list__item__content {
            position: relative;
            left: 4px;
          }
        }
        &__content {
          .pf-v5-c-alert {
            // add margins to match design
            margin: var(--pf-v5-global--spacer--md) 0;
          }
          .pf-v5-c-alert__title {
            // remove margins from markdown css
            margin-top: 0;
            margin-bottom: 0;
            // lift PF style specificity to override markdown css
            font-weight: var(--pf-v5-c-alert__title--FontWeight);
            font-family: inherit;
            line-height: inherit;
            color: var(--pf-v5-c-alert__title--Color);
            word-break: break-word;
          }
          .task-pflist-list__item__content__note {
            background-color: var(--pf-v5-global--palette--blue-50);
            border-color: var(--pf-v5-global--active-color--200);
            margin: var(--pf-v5-global--spacer--md) 0;
            &__body {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .description-note {
    background-color: var(--pf-v5-global--palette--blue-50);
    border-color: var(--pf-v5-global--active-color--200);
    margin: var(--pf-v5-global--spacer--md) 0;
    &__body {
      font-size: 14px;
    }
  }
  .description-important {
    &.pf-v5-c-alert {
      // add margins to match design
      margin: var(--pf-v5-global--spacer--md) 0;
      .pf-v5-c-alert__title {
        // remove margins from markdown css
        margin-top: 0;
        margin-bottom: 0;
        // lift PF style specificity to override markdown css
        font-weight: var(--pf-v5-c-alert__title--FontWeight);
        font-family: inherit;
        line-height: inherit;
        color: var(--pf-v5-c-alert__title--Color);
        word-break: break-word;
      }
    }

  }
}
