.pfext-icon-and-text {
  align-items: baseline;
  display: flex;

  // fix bug where concurrent .pf-c-label are misaligned vertically
  .pf-c-label__icon & {
    display: block;
  }
}

.pfext-icon-and-text__icon {
  flex-shrink: 0;
  margin-right: 5px;
}
