.pfext-quick-start-tasks {
  &__list {
    button::before {
      content: none;
    }

    li {
      &.pf-c-wizard__nav-item {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: var(--pf-global--spacer--xs);
      }
    }
    .task-pflist {
      &-title {
        margin-bottom: 6px;
      }
      &-subtitle {
        color: var(--pf-global--Color--200);
      }
      &-list {
        li + li {
          margin-top: 4px;
        }
        &--prereq {
          padding-left: var(--pf-global--spacer--lg);
        }
        &--proc {
          padding-left: 14px;
        }
        &__item {
          &--prereq {
            &::marker {
              font-size: 0.8rem;
            }
            .task-pflist-list__item__content {
              position: relative;
              left: 2px;
            }
          }
          &--proc {
            .task-pflist-list__item__content {
              position: relative;
              left: 2px;
            }
          }
        }
      }
    }
  }
}
