.pfext-quick-start-task-header {
  margin-bottom: var(--pf-global--spacer--xs);
  button::before {
    content: none;
  }

  &__title {
    color: var(--pf-global--primary-color--100) !important;
    margin-right: var(--pf-global--spacer--md) !important;
  }

  &__subtitle {
    display: inline-block;
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--400) !important;
  }

  &__tryagain {
    display: block;
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--300) !important;
  }

  &__title-success {
    color: var(--pf-global--palette--green-500) !important;
  }

  &__title-failed {
    color: var(--pf-global--danger-color--100) !important;
  }

  &__task-icon {
    &-init {
      background-color: var(--pf-global--palette--blue-400);
      border-radius: var(--pf-global--BorderRadius--lg);
      color: var(--pf-global--Color--light-100);
      display: inline-flex;
      justify-content: center;
      height: 1.5em;
      width: 1.5em;
    }

    &-success,
    &-failed {
      vertical-align: middle !important;
    }
  }
}
