.pfext-quick-start-task-review-alert {
  margin: var(--pf-v5-global--spacer--lg) 0;
}
.pfext-quick-start-task-review {
  font-size: var(--pf-v5-global--FontSize--md);
  line-height: var(--pf-v5-global--FontSize--xl);
  font-family: var(--pf-v5-global--FontFamily--heading--sans-serif);

  &__actions {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--pf-v5-global--spacer--sm);
    input[type='radio'] {
      margin-top: 0;
      margin-right: 0;
    }
  }

  &__radio {
    margin-right: var(--pf-v5-global--spacer--xl) !important;
  }

  &--success {
    color: var(--pf-v5-global--success-color--100) !important;
  }

  &--failed {
    color: var(--pf-chart-global--danger--Color--100);
  }
}
