.pfext-quick-start-task-header {
  margin-bottom: var(--pf-v6-global--spacer--sm);
  display: grid;
  grid-template-columns: min-content auto;
  font-size: var(--pf-v6-global--FontSize--md);
  button::before {
    content: none;
  }

  &__title {
    color: var(--pf-v6-global--primary-color--100) !important;
    margin-right: var(--pf-v6-global--spacer--md) !important;
  }

  &__subtitle {
    font-size: var(--pf-v6-global--FontSize--sm);
    color: var(--pf-v6-global--Color--dark-200) !important;
  }

  &__tryagain {
    display: block;
    font-size: var(--pf-v6-global--FontSize--md);
    color: var(--pf-v6-global--Color--300) !important;
  }

  &__title-success {
    color: var(--pf-v6-global--success-color--100) !important;
  }

  &__title-failed {
    color: var(--pf-v6-global--danger-color--100) !important;
  }

  &__task-icon {
    &-init {
      background-color: var(--pf-v6-global--primary-color--100);
      border-radius: var(--pf-v6-global--BorderRadius--lg);
      color: var(--pf-v6-global--Color--light-100);
      display: inline-flex;
      justify-content: center;
      height: 1.5em;
      width: 1.5em;
    }

    &-success,
    &-failed {
      vertical-align: middle !important;
    }

    &-success {
      color: var(--pf-v6-global--success-color--100) !important;
    }

    &-failed {
      color: var(--pf-v6-global--danger-color--100) !important;
    }
  }
}
