.pfext-quick-start-intro {
  &__prereq {
    margin-bottom: var(--pf-v6-global--spacer--md);
    .pf-v6-c-expandable-section__content {
      margin-top: var(--pf-v6-global--spacer--sm);
    }
    .pf-v6-c-expandable-section__toggle {
      padding-top: 0;
      padding-bottom: 0;
      &-text {
        margin-left: var(--pf-v6-global--spacer--sm);
      }
      &-icon {
        color: var(--pf-v6-c-expandable-section__toggle--Color);
        &:focus, &:hover {
          --pf-v6-c-expandable-section__toggle--Color: var(--pf-v6-c-expandable-section__toggle--focus--Color);
        }
      }
    }

    &-list {
      padding-left: 20px;
      &__item {
        &::marker {
          font-size: 0.8rem;
        }
        &-content {
          position: relative;
          left: 2px;
        }
      }
    }

  }
}
