.pfext-quick-start-tasks {
  &__list {
    .pf-v6-c-wizard__nav-item button {
      --pf-v6-c-wizard__nav-link--m-current--BackgroundColor: transparent;
    }

    // Custom styles on PF React List rendered in custom react renderer
    .task-pflist {
      &-title {
        font-size: 14px !important;
        margin-bottom: 6px;
      }
      &-subtitle {
        color: var(--pf-t--global--text--color--subtle);
        font-size: 16px;
      }
      &-list {
        font-size: 16px;
        &--prereq {
          padding-left: var(--pf-t--global--spacer--lg);
          li + li {
            margin-top: 4px;
          }
        }
        &--proc {
          padding-left: 10px;
          li + li {
            margin-top: 16px;
          }
        }
        &__item {
          &--prereq {
            &::marker {
              font-size: 0.8rem;
            }
            .task-pflist-list__item__content {
              position: relative;
              left: 2px;
            }
          }
          &--proc {
            font-size: 14px;
            .task-pflist-list__item__content {
              position: relative;
              left: 4px;
            }
          }
          &__content {
            .pf-v6-c-alert {
              // add margins to match design
              margin: var(--pf-t--global--spacer--md) 0;
            }
            .pf-v6-c-alert__title {
              // remove margins from markdown css
              margin-top: 0;
              margin-bottom: 0;
              // lift PF style specificity to override markdown css
              font-weight: var(--pf-v6-c-alert__title--FontWeight);
              font-family: inherit;
              line-height: inherit;
              color: var(--pf-v6-c-alert__title--Color);
              word-break: break-word;
            }
            .task-pflist-list__item__content__note {
              background-color: var(--pf-t--global--color--nonstatus--blue--default);
              border-color: var(--pf-t--global--border--color--brand--default);
              margin: var(--pf-t--global--spacer--md) 0;
              color: var(--pf-t--global--text--color--nonstatus--on-blue--default);
              &__body {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
