.pfext-quick-start-task-header {
  &__list {
    padding: 0 !important;

    button::before {
      content: none;
    }

    li {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: var(--pf-v6-global--spacer--xs);
    }
  }
}
