button.pf-v6-c-wizard__nav-link {
  margin-bottom: var(--pf-t--global--spacer--md);
}
button.pf-v6-c-wizard__nav-link.pf-m-current {
  --pf-v6-c-wizard__nav-link-main--BackgroundColor: transparent;
}
button.pf-v6-c-wizard__nav-link::before {
  background-color: var(--pf-v6-c-wizard__nav-link--m-current--before--BackgroundColor);
  color: var(--pf-v6-c-wizard__nav-link--m-current--before--Color);
  min-width: var(--pf-v6-c-wizard__nav-link--before--Width);
}

.pfext-quick-start-task-header {
  button::before {
    content: none;
  }

  &__title {
    font-family: var(--pf-t--global--font--family--body);
    font-weight: var(---pf-t--global--font--weight--body--bold);
    font-size: var(--pf-t--global--font--size--body--lg);
  }

  &__subtitle {
    font-size: var(--pf-t--global--font--size--body--default);
    color: var(--pf-t--global--text--color--subtle);
    font-weight: var(--pf-t--global--font--weight--body)
  }

  &__tryagain {
    display: block;
    font-size: var(--pf-t--global--font--size--body--default);
    color: var(--pf-t--global--text--color--subtle);
    font-weight: var(--pf-t--global--font--weight--body);
  }
}
