.pfext-quick-start-task-review-alert {
  margin: var(--pf-t--global--spacer--lg) 0;
}
.pfext-quick-start-task-review {
  font-size: var(--pf-t--global--font--size--md);
  line-height: var(--pf-t--global--font--line-height--heading);
  font-family: var(--pf-t--global--font--family--heading);

  &__actions {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--pf-t--global--spacer--sm);
    input[type='radio'] {
      margin-top: 0;
      margin-right: 0;
    }
  }

  &__radio {
    margin-right: var(--pf-t--global--spacer--xl) !important;
  }

  &--success {
    color: var(--pf-t--global--text--color--status--success--default) !important;
  }

  &--failed {
    color: var(--pf-t--global--text--color--status--danger--default);
  }
}
