@import 'style/vars';

@import 'style/base';

// React Components
@import 'components/icon-and-text';
@import 'components/catalog/catalog';

.co-quick-start-panel-content,
.ocs-page-layout__content {
  --pf-global--FontSize--md: 14px;
  --pf-global--FontSize--sm: 13px;

  ul {
      list-style-type: disc;
  }
}

// Overrides
// @import 'style/overrides';