name: A11y CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  a11y:
    name: A11y testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js 20
        uses: actions/setup-node@v2
        with:
          node-version: 20
      - run: corepack enable
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Start server and run a11y tests
        run: npx start-server-and-test start http://localhost:3000 test:a11y
